.login-card-container {
  height: max-content;
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .login-type-alert {
    margin-top: 10px;
    padding: 8px 4px;
    p {
      font-size: 12px;
    }
    ol {
      font-size: 12px;
      list-style: disc;
    }
  }
  .button-list-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}