.rc-form {
  .text-array-container {
    svg {
      margin-top: 10px;
      cursor: pointer;
    }
    > div {
      width: 100%;
    }
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 5px;
  }
}